; Configuration sample for touei
; THERE IS NOT DEFAULT VALUE. SET ONE
[core]
; the location of pid file for the mplayer process will be located
; Default: /var/pid/touei.pid
pid: /var/pid/touei.pid

; Location of the FIFO slave socket file (used for control)
; Default: /tmp/touei_slave.fifo
slave_socket: /tmp/touei_slave.fifo

[logs]
; Location of the logs file for the deamon
; Default: touei_deamon.log
deamon_log: touei_deamon.log

; Location of the logs for the python script
; Default: touei_main.log
main_log: touei_main.log

; Level of debug. choose one: DEBUG, INFO, WARNING, ERROR, CRITICAL.
; Default: 30
level: 30

[timing]
; Set this for the delay before the seek command is send to the player
; Value is in microforthnight
; Default: 2
seek_delay: 2

; How long it take for the PC to be back online after a cold start.
; (read: unplug/replug)
; Value is in microforthnight
; Default: 2
recovery_time: 70

; How long is each block/slot in Minutes
; Default: 60
block_duration: 60

[video]
; For safety, all paths in this section should be absolute.

; Location of the video folder. See docs on this folder structure.
; Default: /home/video
location: /home/video

; Location for the intro/outro files
; default: /tmp/touei
tmp-location: /tmp/touei

; Location of the recovery video. It will be play after we started mplayer
; Default: %(location)/recovery.mkv
recovery: %(location)/recovery.mkv

; Location of the standby video. Again, see docs for more detail
; Default: %(location)/standby.mkv
standby: %(location)/standby.mkv

; Location of the intro and outro video. Again, see docs.
; Default: %(location)/intro.mkv
intro: %(location)/intro.mkv
; Default: %(location)/outro.mkv
outro: %(location)/outro.mkv

; Location of the countdown video. see docs.
; Default: %(location)/countdown.mkv
countdown: %(location)/countdown.mkv
